@model boubackend.Data.Vendors

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vendors</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WebAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WebAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FacebookPage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FacebookPage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InstagramPage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstagramPage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VendorBio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VendorBio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VendorsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
